*{
    margin:0;
    padding:0;
}

html,body{

    width:100vw;
    height:100vh;
    box-sizing: border-box;
}

.container{
    height:100%;
    display:grid;
    background-color: #e2e8f0;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
}
.container .header{
  margin:0;
  padding: 0 32px;
}
h1,h2{
    margin:0;
    padding:0;
}
h1{
    font-size: 24px;
}
h2{
    font-size:20px;
}
.container div {
    padding: 15px;
    font-size: 24px;
    font-family: Helvetica;
    font-weight: bold;
  }

.header{
    display:grid;
    grid-template-columns: 4fr 3fr;
    grid-templat-rows:1fr 1fr;
    background-color: #ffff;
}
/* Search */
.search-bar{
  background-color:gray;
  flex:1;
  border-radius:100px;
}

.search{
  display:flex;
  gap:16px;
  align-items:center;
}
/* profile */
.profile-info{
  color:black;
  display:flex;
  gap:32px;
  justify-content:flex-end;
  align-items:center;   
}
.profile-name{
  font-size:20px;
  font-weight:700;
}

#robot-image{
  background-color: rgb(186, 217, 252);
  border-radius:50%;
  padding:8px;
}
/* Greetings */
.greetings{
    display:flex;
    align-items:center;
}
#robot-image-big{
  background-color:rgb(186, 217, 252);
  padding:16px;
  border-radius:50%;
}
div .greeting{
  padding:0;
  font-size:16px;
}
h1.name-big{
  font-size:32px;
}

/* Greetings */
.header-buttons{
  display:flex;
    justify-content:flex-end;
  align-items:center;
  gap:32px;
}
.header-button{
  height:50px;
  padding:8px 32px;
  background-color: #1992d4;
  color:white;

  border-style:none;
  border-radius:50px;
  font-size:16px;
  font-weight:600;
}


/* Side bar */
.sidebar{
    display: grid;
    grid-column: 1/2;
    grid-row: 1/4;
    grid-template-rows: 1fr 3fr 6fr;
    background-color: #1992d4;
      color: white;
}

.content-title .content{
    display:flex;
    align-items: center;
    gap:16px;
    padding:0;
}
.icon, 
.dashboard{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(237deg) brightness(107%) contrast(109%);
}


.second-content .selection,
.third-content .selection {
    padding:0;
}

.selection{
    display:flex;
    align-items: center;
    gap:32px;
    padding:4;
    margin-bottom: 24px;
}


.projects{
    background-color: crimson;
    grid-column: 1/2;
    grid-row: 1/4;
}

.announcements{
    background-color: darkblue;
}
.trending{
    background-color: darkmagenta;
}