/* Meta */
*{
box-sizing:border-box;

}

body{
padding:0;
margin:0;
width:100vw;
height:100vh;
font-family: 'Inter', sans-serif;
}

.container{
height:100%;
display:grid;
grid-template-columns: 1fr 5fr;
grid-template-rows: 1fr 6fr;
} 

.icon, 
.dashboard{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(237deg) brightness(107%) contrast(109%);
}

.profile-logo{
    background: linear-gradient(0deg, rgba(28, 46, 74, 1) 10%, rgba(52, 68, 98, 1) 20%, rgba(76, 92, 123, 1) 30%, rgba(101, 116, 149, 1) 40%, rgba(126, 142, 175, 1) 50%, rgba(153, 168, 203, 1) 60%, rgba(180, 195, 231, 1) 70%, rgba(208, 223, 255, 1) 80%, rgba(236, 252, 255, 1) 90%, rgba(255, 255, 255, 1) 100%);
    padding:8px;
    height:40px;
    width:45px;
    border:2px solid rgb(241, 241, 241);
    border-radius: 50%;
}
.announcements,
.item,
.header,
.trending-item-container
{
    box-shadow: 2px 3px 5px rgb(185, 185, 185);  
}
  /* Sidebar */
  
.sidebar{
background-color:#1c2e4a;
grid-area: 1/1/3/2;
display:grid;
grid-template-rows: 50px 1fr;
color:white;
padding:24px;
grid-row-gap:24px;
}

.sidebar-title{
display:flex;
align-items:center;
gap:16px;
}
.sidebar-title>h1{
margin:0;
font-size: 24px;
}

.sidebar-content{
    display:flex;
    flex-direction: column;
    gap:32px;
}
.selection{
    display:flex;
    align-items: center;
    gap:16px;
    margin-bottom:24px;
}

.selection h2{
margin:0;
font-size:18px;
}

/* ------------ header ------------ */
.header{
display:grid;
padding:0 56px 16px 32px;
grid-template-columns:4fr 2fr;
}

/* ------------ top left ------------ */
.search{
    display:flex;
    align-items: center;
    gap:16px;
}
.search-bar{
    background-color: #e2e8f0;
    flex:1;
    height:30px;
    border-radius:15px;
}

/* ------------ top right ------------ */
.profile-container{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    gap:24px;
}

/* ------------ bottom left ------------ */
.greetings-container{
    display:flex;
    align-items: center;
    gap:16px;
}

.profile-logo.large-logo{
    width: 64px;
    height: 64px;
}

.greetings-content{
    display:flex;
    flex-direction: column;
}
h1.name-big{
    font-size:28px;
    margin:0;
}

/* ------------ bottom right ------------ */
.header-buttons{
    display:flex;
    gap:32px;
    justify-content: flex-end;
    align-items: center;


}
.header-button{
    background-color:#1c2e4a;
    color:white;
    font-size:16px;
    font-weight:bold;
    width:100px;
    height:40px;
    border:none;
    border-radius: 30px;

}

/* ------------ content ------------ */  


.content{
    padding:32px 24px;
    display:grid;
    grid-template-columns:5fr 1fr;
    grid-template-rows:1fr 1fr;
    background-color:#e2e8f0;
    overflow:auto;  
    grid-row-gap:24px;
    grid-column-gap:24px;

}

.content-header{
    font-size: 20px;
    font-weight:700;
    margin-bottom:8px;
}

.content-container{
    grid-area: 1/1/3/2;
}

.item-container{
    column-gap: 20px;
    row-gap: 20px;
    grid-row: 2/3;

    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:repeat(auto-fit,minmax(1fr,2fr));
}
.project-image{
    width:200px;
    height:200px;
    border-radius: 4px;
}

.item{
    display:flex;
    background-color: white;
    gap:32px;
    padding:48px;
    border-radius: 10px;
    border-left: 12px solid #4a381c;
}

.announcements{
    border-radius: 10px;
    background-color:white;
    padding:12px 32px;
    box-shadow: 2px 3px 5px rgb(185, 185, 185);  
}

.announcement-item{
    border-bottom:2px solid rgb(209, 209, 209);
    margin-bottom:16px;
    align-items: center;
}
.announcement-item h2,
.announcement-item-last h2{
    font-size:18px;
    margin:4px 0;
}
.announcement-item p,
.announcement-item-last p{
    font-size:16px;
    margin-bottom:16px;
}

.trending-container{
    display:flex;
    flex-direction: column;
    border-radius: 10px;

}
.trending-item-container{
    flex:1;
    background-color:white;
    padding:16px;
    border-radius: 10px;
}
.trending-content{
    display:flex;
    gap:16px;
    align-items: center;
    padding:8px;
}

.title{
    font-weight: 800;
}